
<section class="herocontainer">
<div class="hero">
    <div class="textcontainer">
      <h1 class="hero-text">
        <span>Infused Style:</span>
          Where Fashion Sparks Connect
<p>Join our fashion-forward
community where trendsetters unite to share tips,
tricks and ruuaway-worthy inspiration.</p>
      </h1>
        </div>
        <div class="hero-slide"  id="Hero-container">
            <img id="mundi" class="default-width" src="/assets/mundi.jpg" alt="Mundi">
            <img class="slideImg" src="/assets/Naa.jpg" alt="Naa">
            <img class="slideImg" src="/assets/James.jpg" alt="James">
        </div>
</div>

</section>

