//-  views/layout.pug
doctype html
html
  head
    title Infuse
    link(rel="stylesheet", href="/css/nav.css")
    link(rel="stylesheet", href="/css/hero.css")
    link(rel="stylesheet", href="/css/index.css")


   
  body
    block content
   

    <script src="/js/hero.js"></script>
    <script src="/js/navbar.js"></script>

