
//- <link rel="stylesheet" href="/css/navbar.css">
-//
    <nav class="nav" id="animatedDiv">
        <div class="navcontainer" id="colorNav">
            <div class="socials" id="socials">
                <img src="/assets/instagram.svg" alt="Instagram" class="smedia">
                <img src="/assets/twitter.svg" alt="Twitter" class="smedia">
                <img src="/assets/face.svg" alt="Facebook" class="smedia">
            </div>

            <div class="logo" id="navlogo">
                <img src="/assets/logo_red.svg" alt="Logo" class="logo">
            </div>

            <ul class="navLinks">
                <li class="navItems">
                    <a href="#">Blog</a>  
                </li>
                <li class="navItems">
                    <a href="#">About Us</a>  
                </li>
            </ul>

            <div class="btns">
                <button class="Login" id="log">Log In</button>
                <button class="start" id="go">Get started</button>
            </div>
        </div>
    </nav>

   



